{{ block "variables" . -}}
	{{ if not .IsHome -}}
		{{ .Scratch.Set "title" (print .Params.title " | " .Site.Data.settings.general.title ) -}}
	{{ else -}}
		{{ .Scratch.Set "title" .Site.Data.settings.general.title -}}
	{{ end -}}
	
	{{ .Scratch.Set "description" .Params.description -}}

	{{ .Scratch.Set "image" .Params.image -}}
{{ end -}}

<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
	{{ partial "head.html" . }}
	{{ block "head_includes" . }}{{ end }} 

	<script defer src="https://identity-js.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
<header>
	{{ partial "navigation.html" . -}}
</header>

<div class="site-content">
	{{ block "main" . }}{{ end }}
	
	{{ partial "footer.html" . -}}
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/medium-zoom.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
