<div class="footer">
  <div class="container mt-2 text-center">
    <h4><i class="fas fa-envelope-open-text"></i> Newsletter</h4>
    <p>Erhalte eine E-Mail, wenn ich neue Blogartikel aufschalte.</p>
    <form
      class="newsletter-form form-inline justify-content-center"
      action="https://tinyletter.com/marcojakob"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/marcojakob', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
    >
    <div class="form-group mb-4 mr-2">
      <input
        class="form-control"
        type="text"
        name="email"
        id="tlemail"
        placeholder="Deine E-Mail-Adresse"
      />
    </div>
    <input type="hidden" value="1" name="embed" />
    <input class="btn mb-4" type="submit" value="Anmelden" />
    </form>

    <p>Copyright &copy; 2019 Marco Jakob | Theme by
      <a target="_blank" href="https://www.marco-jakob.ch">marco-jakob.ch</a>
    </p>
  </div>
</div>
