<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ .Params.description }}">
<meta name="author" content="">
<link rel="icon" href="/img/favicon.ico">
<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Fonts -->
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/mediumish.css" rel="stylesheet">