<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ .Params.description | default .Site.Params.description }}">
<meta name="author" content="">
<link rel="icon" href="/img/favicon.ico">
<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

<meta name="twitter:card" content="summary">
<meta property="og:title" itemprop="title name" content="{{ .Scratch.Get "title" }}">
<meta property="og:description" content="{{ .Params.description | default .Site.Params.description }}">
<meta property="og:url" content="{{ .Permalink }}">
<!-- Min 120x120px-->
<meta property="og:image" content="{{ .Scratch.Get "image" }}">
<meta property="og:image:width" content="{{ (.Scratch.Get "imageConfig").Width }}" />
<meta property="og:image:height" content="{{ (.Scratch.Get "imageConfig").Height }}" />

{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Fonts -->
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/mediumish.css" rel="stylesheet">