<nav class="navbar navbar-expand-sm navbar-light fixed-top mediumnavigation">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{{ .Site.Data.settings.general.logo }}" alt="logo">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <!-- Begin Menu -->
      <ul class="navbar-nav ml-auto">
        {{ $currentUrl := .URL }}
        <li class="nav-item">
          <a class="nav-link {{ if eq $currentUrl "/" }}active{{ end }}" href="/">Home</a>
        </li>
        {{ range sort (where .Site.RegularPages "Section" "pages") "Params.menu" "asc" }}
          {{ if .Params.menu }}
          <li class="nav-item">
            <a class="nav-link {{ if eq .URL $currentUrl }}active{{ end }}" href="{{ .URL }}">{{ .Title }}</a>
          </li>
          {{ end }}
        {{ end }}
        {{ with .Site.Data.settings.about }}
        <li class="nav-item">
          <a class="nav-link {{ if eq $currentUrl "/about/" }}active{{ end }}" href="/about/">{{ .title }}</a>
        </li>
        {{ end }}
        
        {{ if .Site.Data.settings.general.tinyLetter }}
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://tinyletter.com/{{ .Site.Data.settings.general.tinyLetter }}"><i class="fas fa-envelope-open-text"></i> Newsletter</a>
        </li>
        {{ end }}

      </ul>
      <!-- End Menu -->
    </div>
  </div>
</nav>